source [find interface/raspberrypi-native.cfg]
transport select swd
	
set CHIPNAME stm32l4
source [find target/stm32l4x.cfg]
	
# did not yet manage to make a working setup using srst
#reset_config srst_only
reset_config srst_nogate
	
adapter_nsrst_delay 100
adapter_nsrst_assert_width 100

bcm2835gpio_swd_nums 17 4
bcm2835gpio_srst_num 18
	
init
targets
reset halt

flash info 0
flash list

program bee verify
flash write_image erase bee 0x00000000
verify_image bee
reset run
exit

